.theme-base-o2r .sidebar {
  //background-color: #004288;
  background-color: rgba(0,66,136,.5);
  color: rgba(67,69,83,1);
}
.theme-base-o2r .content a,
.theme-base-o2r .related-posts li a:hover {
  color: #004288;
}

img.center {
    display: block;
    margin: 0 auto;
}

.small {
    font-size: 0.8em;
}
