<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
       <a href="{{ site.url | absolute_url }}">
          <img alt="o2r" class="center" src="{{ '/public/images/logo-transparent.png' | absolute_url }}" width="200" style="margin-bottom: 1em;" />
        </a>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% unless node.exclude_from_nav %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endunless %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.org }}"><i class="fa fa-github" style="margin-right: 0.3em;" aria-hidden="true"></i>GitHub</a>
      <a class="sidebar-nav-item" href="{{ site.twitter.url }}"><i class="fa fa-twitter" style="margin-right: 0.3em;" aria-hidden="true"></i>{{ site.twitter.handle }}</a>

    </nav>

    <p class="small"><a href="{{ '/imprint' | absolute_url }}" title="Imprint | Impressum">Imprint&nbsp;/&nbsp;Impressum</a> | &copy;&nbsp;{{ site.time | date: '%Y' }}&nbsp;o2r&nbsp;project<br />Theme based on <a href="https://github.com/poole/hyde">Hyde</a></p>
  </div>
</div>
