---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}{% if page.author %} | By {{ page.author }}{% endif %}</span>
  {{ content }}
</div>

{% unless page.no_citation %}
  {% assign current_year = page.date | date: "%Y" %}
  {% if current_year == "" or current_year == nil %}
    {% assign current_year = "2019" %}
  {% endif %}
  <div class="attribution">
    <p>Cite this blog post as <code>{% if page.author %}{{ page.author }}. {% endif %}"{{ page.title }}" ({{ current_year }}) in Opening Reproducible Research: a research project website and blog. Daniel Nüst, Marc Schutzeichel, Markus Konkol (eds). Zenodo. doi:<a href="https://doi.org/10.5281/zenodo.1485437">10.5281/zenodo.1485437</a></code>
    </p>
  </div>
{% endunless %}

{% include comments.html %}

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
